*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}
.myheader{
    height: 39px;
    width: 100%;
    background-color: black;
    
    
}
.myheader_para{
color: white;
text-align: center;
padding-top: 10px;

}
.mynavbar{
    width: 100%;
    height: 80px;
   background-color: white;
    top: 0px;
    position: sticky;
    display: flex;
    gap: 100px;
}
.logo1{
    width: 8%;
    margin-left: 120px;
}

.mynavlink{
    width: 80%;
    height: 40px;
    /* border: 2px solid brown; */
    margin-top: 20px;
   
    
}
    
.mynavlink ul{
   
    
    display: flex;
    gap: 10px;
    /* border: 2px solid brown; */
    list-style: none;
    justify-content: flex-end;
    


}
.mysearchicon{
    width:90px;
    height: 80px;
    background-color:red;
    /* border: 2px solid blue; */
    margin-left: 100px;
   
}
.myheading_para1{
  
    margin-top: 80px;
    
    text-align: center;
}
.mycards_img{
    display: flex;
    gap: 30px;
    justify-content: center;
  
}

.myheading_para2{
    text-align: center;
    margin-top: 80px;
}
.mycards{
    display: flex;
    gap: 30px;
   justify-content: center;
}

.my_mainfooter{
    background-color: black;
    height: 900px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
.myfooter1{
    margin-top: 100px;
    margin-left: 50px;
}
.footer_heading1{
    color: white;
}
.footer_para1{
    color: gray;
}
.footer_heading_para1{
    display: flex;
    gap: 5px;
}
.footer_heading_para2{
    display: flex;
    gap: 5px;
}
.footer_heading_para3{
    display: flex;
    gap: 5px;
}
.footer_heading_para4{
    display: flex;
    gap: 5px;
}
.myfooter2{
    margin-top: 50px;
}
.footer_heading2{
    color: white;
}
.footer_para2{
    color: gray;
}
.footer_heading3{
    color: white;
}
.footer_para3{
    color: gray;
}
.footer_heading4{
    color: white;
}
.footer_para4{
    color: gray;
}
.footer_heading5{
    color: white;
}
.footer_para5{
    color: gray;
}
.myfooter3{
    margin-top: 50px;
}
.footer_heading6{
    color: white;
}
.footer_para6{
    color: gray;
}
.footer_heading7{
    color: white;
}
.footer_para7{
    color: gray;
}
.myfooter4{
    margin-top: 50px;
}
.footer_heading8{
    color: white;
}
.footer_para8{
    color: gray;
}
.footer_heading9{
    color: white;
}
.footer_para9{
    color: gray;
}
.footer_heading10{
    color: white;
}



@media only screen and (max-width: 1115px){
    
        
    
    .mycards_img{
        gap: 1px;
        margin-left: 0px;


        
    }
}
@media only screen and (max-width: 1114px){
    .mycards{
        display: block;
        
        margin-left: 35%;
    }
    .mycards_img{
        display: block;
        margin-left: 35%;
    }
}
@media only screen and (max-width: 930px){
    .mynavlink ul{
        display: none;
    }
    .mysearchicon{
        display: none;
    }
}
@media only screen and (max-width: 481px){
    .mycards{
        
        margin-left: 10%;
    }
    .mycards_img{
        
        margin-left: 15%;
    }
}
@media only screen and (max-width: 337px){
    .mycards{
        
        margin-left: 5%;
    }
    .mycards_img{
        
        margin-left: 10%;
        
    }
}
    @media only screen and (max-width: 319px){
        .mycards{
            
            margin-left: 1%;
        }
        .mycards_img{
            
            margin-left: 3%;
            
        }
    
}
@media only screen and (max-width: 307px){
    .mycards{
        margin-left: 0px;
    }
    .mycards_img{
        
        margin-left: 3%;
        
    }
    
}
@media only screen and (max-width: 853px){
    
        
    
    .my_mainfooter{
       display: block;
       height: 100%;

        
    }
    .myfooter1{
        margin-left: 0px;
    }
}


    
